@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Manufacturing+Consent&display=swap');
:root{
    --branco: white;
    --cor-de-fundo:#003e04;
    --fundo-senha:#0b6a06;
    
}